header{
    width: 1366px;
    height: 910px;
    margin: auto;
    background-size: 1366px;
    background-color: #343434;
}

.csgocase{
    height: 500px;
    width: 800px;
    margin-top: 40px;
    float: left;
}

.titlebox{
    width: 566px;
    height: 498px;
    border-top: solid white 1px;
    border-bottom: solid white 1px;
    float: right;
    margin-top: 40px;
}

.divider{
    background-color: #DEDDDD;
    width: 1366px;
    height: 22px;
    margin: auto;
    border: 1px solid black;
}

.abboneren{
    margin: auto;
    margin-top: 20px;
    height: 227px;
    width: 780px;
    border: solid black 2px;
}

.abboneren-knop{
    width: 523px;
    height: 53px;
    border: solid black 2px;
    margin: auto;
}

h1{
    font-size: 4em;
    color: white;
    text-decoration-line: underline;
    font-weight: bold;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
    top: 0;

}

h2{
    color: white;
    font-size: 2em;
    font-style: italic;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    top: 2;
}

h3{
    font-size: 3em;
    color: white;
    text-align: center;
    width: 500px;
    margin: auto;
    margin-top: 10px;
}

h4{
    font-size: 1em;
    font-weight: bold;
    width: 140px;
    margin: auto;
    text-align: center;
    color: white;
}

.menubutton{
    top: 0;
    position: absolute;
    float: left;
    margin: 20px;
}

.searchbutton{
    top: 0;
    float: right;
    position: absolute;
    margin-left: 1300px;
    margin-top: 20px;
}

section{
    height: 3643px;
    width: 1366px;
    background-color: #343434;
    margin: auto;
}

.title{
    height: 189px;
    width: 1088px;
    border: solid white 1px;
    margin: auto;
}

.anekdote{
    height: 158px;
    width: 1088px;
    border: solid white 1px;
    margin: auto;
    margin-top: 30px;
}

.nutshell{
    width: 1246px;
    height: 350px;
    border: solid white 1px;
    margin: auto;
    margin-top: 30px;
}

.morality{
    width: 887px;
    height: 506px;
    border: solid white 1px;
    margin: auto; 
    margin-top: 30px; 
}

.consequences{
    width: 887px;
    height: 449px;
    border: solid white 1px;
    margin: auto;
    margin-top: 30px;
}

.positive-side{
    width: 1246px;
    height: 350px;
    border: solid white 1px;
    margin: auto;
    margin-top: 30px;
}

.youth{
    width: 887px;
    height: 419px;
    border: solid white 1px;
    margin: auto;
    margin-top: 30px;
}

footer{
    width: 1366px;
    height: 298px;
    background-color: #4B3E20;
    bottom: 0;
    margin-top: 52px;
    margin: auto;
}